<div class="card">
  <form [formGroup]="group" (ngSubmit)="submit()" id="formId">
    <div class="form-row">
      <div class="form-group col-md-3 input-group-lg">
        <input type="text"
               class="form-control"
               id="firstName-field"
               [placeholder]="'First Name'"
               [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }"
               formControlName="firstName">
        <div *ngIf="submitted && formControls.firstName.errors" class="form-error-feedback">
          <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group col-md-3 input-group-lg">
        <input type="text"
               class="form-control"
               id="lastName-field"
               [placeholder]="'Last Name'"
               [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }"
               formControlName="lastName">
        <div *ngIf="submitted && formControls.lastName.errors" class="form-error-feedback">
          <div id="lastNameErrorId" *ngIf="formControls.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group col-md-3 input-group-lg">
        <input type="number"
               id="participation-field"
               min="0"
               max="100"
               maxlength="3"
               [ngClass]="{ 'is-invalid': submitted && formControls.participation.errors }"
               class="form-control"
               [placeholder]="'Participation'"
               formControlName="participation">
        <div *ngIf="submitted && formControls.participation.errors" class="form-error-feedback">
          <div *ngIf="formControls.participation.errors.required">Participation is required</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <button class="btn user-btn-primary btn-lg">
          <span class="d-inline">Send</span>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="title">
  <h2 class="text-center">DATA</h2>
  <h6 class="text-center">Percentage of participation according to the users</h6>
</div>


<div class="row data-card">
  <div class="col-6 justify-content-center data-card">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Participation</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="userList?.length === 0">
        <td class="no-data" colspan="100%"> There's no data to show</td>
      </tr>
      </tbody>
      <tr *ngFor="let user of userList; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.participation}} %</td>
        <td nowrap class="action-column">
          <div class="center-text">
            <button
              [id]="'btn-delete-' + i"
              class="btn-delete"
              (click)="delete(user);
              $event.stopPropagation()">
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-3">
    <donut-chart
      [users]="userList"
    ></donut-chart>
  </div>
</div>
